NEXT_PUBLIC_SUPABASE_URL=https://ugfhwsmhtdkpqxyhfmwl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnZmh3c21odGRrcHF4eWhmbXdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNDU5MDQsImV4cCI6MjA5MTcyMTkwNH0.Cjn3f_lzo9s_r70L53bWVakPDXjoo_t0DH9GZwIVVF4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnZmh3c21odGRrcHF4eWhmbXdsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjE0NTkwNCwiZXhwIjoyMDkxNzIxOTA0fQ.9OewO37thxg7zjteD9pmezPHYUnHi1wwlqo9gg0LenI
